@import "/src/scss/variables";
@import "/src/scss/libs/mixins";

.messages-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 5px 5px rgba(0, 61, 50, 0.2);
    border-radius: 10px;

    &__desc {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        border-bottom: $line-green;
    }

    &__name-chat {
        @include font-base(("Roboto Slab Regular", sans-serif), 32px, normal, 600, 40px, center, $dark-green);
    }

    &__date {
        @include font-base(("Roboto Slab Regular", sans-serif), 16px, normal, 400, 19px, center, $green);
        min-width: 65px;
    }

    &__messages {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 320px;
        max-height: 320px;
    }

    &__list {
        min-width: 100%;
        min-height: 240px;
        max-height: 240px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 20px;
        padding: 10px;
    }

    &__empty {
        min-height: 260px;
        max-height: 260px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ::-webkit-scrollbar-button {
        background-repeat: no-repeat;
        height: 0px;
    }

    ::-webkit-scrollbar-track {
        background-color: $background-message;
        border-radius: $small-5;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: $small-5;
        background: linear-gradient(45deg, $green 30%, $green 90%);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: $dark-green;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    &__send-block {
        display: grid;
        grid-template-columns: 10fr 1fr 2fr;
        width: 100%;
        gap: 5px;
        padding: 10px;
        border-top: $line-green;
        position: relative;
    }

    &__input {
        @include font-base(("Roboto Slab Regular", sans-serif), 16px, normal, 500, 19px, left, $black);
        border-radius: $small-5;
        border-color: $green;
        padding: $small-5;
    }

    &__smiles-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            &:hover {
                animation: 0.1s tremor ease-out infinite;
            }
        }
    }

    &__button-send {
        @include font-base(("Roboto Slab Regular", sans-serif), 16px, normal, 500, 19px, center);
        border: none;
        border-radius: $small-5;
        border-color: $green;
        background: $background-body;
        cursor: pointer;
        padding: 10px 15px;

        &:hover {
            background-color: darken($background-message, 8%);
        }

        &:active {
            background-color: darken($background-message, 24%);
            transform: translateY(2px);
        }

        &.disabled {
            opacity: 0.4;
            pointer-events: none;
        }
    }
}

@keyframes tremor {
    0%,
    25% {
        left: -1px;
        -webkit-transform: translateX(-2%);
        transform: translateX(-2%);
    }
    50%,
    100% {
        left: 1px;
        -webkit-transform: translateX(2%);
        transform: translateX(2%);
    }
}
