@import "/src/scss/variables";
@import "/src/scss/libs/mixins";

.message-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &__me {
        display: flex;
        align-self: flex-end;
        flex-direction: row-reverse;

        .message {
            background: $background-message;
            padding-bottom: 5px;
            border-radius: 45px;
            padding: 10px 30px;
            cursor: pointer;
            margin: 0 5px;

            &__name {
                @include font-base(("Roboto Slab Regular", sans-serif), 16px, normal, 500, 19px, center, $dark-green);

                display: flex;
                justify-content: flex-start;
                padding: 5px;
            }

            &__text {
                @include font-base(
                    ("Roboto Slab Regular", sans-serif),
                    12px,
                    normal,
                    400,
                    14px,
                    center,
                    $white,
                    0 0 5px 0
                );
                max-width: 160px;
                padding: 5px;
                word-wrap: break-word;
            }

            &__date {
                display: flex;
                justify-content: flex-end;
                @include font-base(("Roboto Slab Regular", sans-serif), 11px, normal, 400, 14px, right);
            }
        }

        .change {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            animation-name: emergence;
            animation-duration: 0.7s;
            animation-fill-mode: both;

            img {
                margin: 8px 5px;
                cursor: pointer;
            }
        }
    }

    &__not-me {
        @extend .message-block__me;
        align-self: flex-start;
        flex-direction: initial;
    }
}

@keyframes emergence {
    from {
        opacity: 0;
        transform: scale(0.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
