@font-face {
    font-display: swap;
    font-family: "WorkSans Regular";
    src: url(./fonts/WorkSansRegular.eot);
    src: url(./fonts/WorkSansRegular.ttf);
    src: url(./fonts/WorkSansRegular.woff);
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    src: url(./fonts/Roboto-regular.eot);
    src: url(./fonts/Roboto-regular.ttf);
    src: url(./fonts/Roboto-regular.woff);
}

@font-face {
    font-display: swap;
    font-family: "Roboto Slab Regular";
    src: url(./fonts/RobotoSlabRegular.eot);
    src: url(./fonts/RobotoSlabRegular.ttf);
    src: url(./fonts/RobotoSlabRegular.woff);
}