@import "fonts";
@import "/src/scss/variables";
@import "libs/normalize";

@import "components/all";

body {
  background-color: $background-body;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1600px;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.content {
  padding: 40px 0;
}
